@charset "UTF-8";
/* CSS Document */
/*reset css*/
legend {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.user em {
    font-style: normal;
}

.user a {
    color: #2c8beb;
    text-decoration: none;
}

.user a:hover {
    color: #085daa;
}

.user ul,
.user h1,
.user form,
.user fieldset,
.user .hr .text-hr,
.user .auth-text {
    margin: 0;
    padding: 0;
}

/* .xe-container {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
}

.xe-container-fluid {
    padding-right: 4px;
    padding-left: 4px;
    margin-right: auto;
    margin-left: auto;
}

.xe-row {
    margin-right: -4px;
    margin-left: -4px;
} */

.pull-r {
    float: none;
}

hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: 1px solid #e4e4e4;
}

/* .xe-col-xs-1,
.xe-col-sm-1,
.xe-col-md-1,
.xe-col-lg-1,
.xe-col-xs-2,
.xe-col-sm-2,
.xe-col-md-2,
.xe-col-lg-2,
.xe-col-xs-3,
.xe-col-sm-3,
.xe-col-md-3,
.xe-col-lg-3,
.xe-col-xs-4,
.xe-col-sm-4,
.xe-col-md-4,
.xe-col-lg-4,
.xe-col-xs-5,
.xe-col-sm-5,
.xe-col-md-5,
.xe-col-lg-5,
.xe-col-xs-6,
.xe-col-sm-6,
.xe-col-md-6,
.xe-col-lg-6,
.xe-col-xs-7,
.xe-col-sm-7,
.xe-col-md-7,
.xe-col-lg-7,
.xe-col-xs-8,
.xe-col-sm-8,
.xe-col-md-8,
.xe-col-lg-8,
.xe-col-xs-9,
.xe-col-sm-9,
.xe-col-md-9,
.xe-col-lg-9,
.xe-col-xs-10,
.xe-col-sm-10,
.xe-col-md-10,
.xe-col-lg-10,
.xe-col-xs-11,
.xe-col-sm-11,
.xe-col-md-11,
.xe-col-lg-11,
.xe-col-xs-12,
.xe-col-sm-12,
.xe-col-md-12,
.xe-col-lg-12 {
    padding-right: 4px;
    padding-left: 4px;
} */

.row-title {
    margin: 5px 0;
    padding-left: 15px;
    font-size: 14px;
}

.row-title i {
    margin-left: 10px;
}

.user {
    /* max-width: 330px; */
    max-width: 343px;
    margin: 0 auto;
    padding: 32px 5px 24px;
    color: #2c2e37;
    font-size: 14px;
}

.user.v2 {
    max-width: 430px;
}

.user fieldset {
    border: none;
}

.user .xe-input-text {
    margin: 0;
    background-color: transparent;
}

.user .text-message {
    color: #696e7a;
}

.user .success-input .text-message {
    color: #2c8beb;
}

.user .text-message.normal {
    color: #696e7a !important;
}

.user .xe-select-style {
    display: block;
}

.user .auth-group {
    position: relative;
    margin-bottom: 8px;
}

.user.find-password .auth-group {
    position: relative;
    margin-bottom: 16px;
}

.user .xe-input-group {
    margin: 16px 0;
}

.user .xe-input-group label {
    font-size: 14px;
    color: #696e7a;
    line-height: 20px;
    font-weight: normal;
}

.user h1 {
    margin-bottom: 24px;
    font-size: 24px !important;
    line-height: 32px;
    font-weight: normal;
}

.user .sub-text {
    margin-bottom: 16px;
    font-size: 14px;
    color: #696e7a;
}

.user .g-recaptcha {
    margin: 16px auto;
}

.user .xe-btn-primary,
.user .xe-btn.xe-btn-link {
    margin-bottom: 16px;
}

.user .xe-btn-blue {
    color: #fff;
}

.user .auth-text {
    margin-top: 24px;
    text-align: center;
}

.user .auto-text {
    font-size: 14px;
    color: #696e7a;
    line-height: 20px;
}

.user .auto-text a {
    color: #2c8beb;
}

.user .auth-noti {
    margin-top: 12px;
    font-size: 13px;
    color: #8e8e93;
    line-height: 18px;
}

.user .hr {
    border-top: 1px solid #e4e4e4;
}

.user .hr .text-hr {
    margin-top: -12px;
    text-align: center;
}

.user .hr .text-hr > span {
    padding: 0 16px;
    background-color: #fff;
}

.user .auth-sns {
    position: relative;
    padding: 23px 0 20px;
    text-align: center;
    border-bottom: 1px solid #e4e4e4;
}

.user .auth-sns li {
    display: inline-block;
    list-style-type: none;
    width: 48px;
}

.user .auth-sns li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #3b5998;
}

.user .auth-sns li.sns-facebook a {
    background-color: #3b5998;
}

.user .auth-sns li.sns-twitter a {
    background-color: #55acee;
}

.user .auth-sns li.sns-kakao a {
    background-color: rgb(250,225,0);
}

.user .auth-sns li.sns-naver a {
    background-color: #23b300;
}

.user .auth-sns li.sns-google a {
    background-color: #4184f3;
}

.user .auth-sns li.sns-github a {
    background-color: #444;
}

.user .auth-sns li.sns-line a {
    background-color: #00c300;
}

.user .auth-sns li.sns-email a {
    background-color: #fff;
    color: #8f8f8f !important;
    border: 1px solid #cfcfcf;
}

.user .auth-sns li.sns-facebook a:hover {
    background-color: #1d315b;
}

.user .auth-sns li.sns-twitter a:hover {
    background-color: #006daa;
}

.user .auth-sns li.sns-naver a:hover {
    background-color: #1c8d00;
}

.user .auth-sns li.sns-kakao a:hover {
    background-color: rgb(250,225,0);
}
.user .auth-sns li.sns-google a:hover {
    background-color: #3a76d6;
}

.user .auth-sns li.sns-github a:hover {
    background-color: #222;
}

.user .auth-sns li.sns-line a:hover {
    background-color: #23b300;
}

.user .auth-sns li.sns-email a:hover {
    background-color: #efefef;
}

.user .auth-sns li a i {
    color: #fff;
    font-size: 25px;
    line-height: 40px;
}

.user .auth-sns li.sns-email a i {
    color: #8f8f8f;
}

.user hr {
    margin: 0;
    border-color: #e4e4e4;
}

.user .auth-sns.v2 {
    border-bottom: none;
}

.user .auth-sns.v2 ul {
    /* max-width: 230px; */
    max-width: none;
    margin: 8px auto 16px;
}

.user .auth-sns.v2 li {
    position: relative;
    /* display: block; */
    display: inline-block;
    width: auto;
}

.user .auth-sns.v2 li a {
    position: relative;
    display: block;
    width: 270px;
    height: 48px;
    margin-bottom: 8px;
    padding: 0 14px;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    line-height: 48px;
    text-align: left;
}

.user .auth-sns.v2 li a:before {
    content: "";
    position: absolute;
    top: 0;
    left: 55px;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

.user .auth-sns.v2 li a i {
    font-size: 30px;
    line-height: inherit;
    vertical-align: middle;
    margin-right: 28px;
    transform: translateY(-2px);
}

/* ---- 2019/09/06 회원가입 개편 스타일, 소셜 로그인, 소셜 회원가입 동일하게 스타일 적용 ---- */
.user .user__title {
    margin: 0;
    font-size: 24px;
    line-height: 32px;
    font-weight: 500;
    letter-spacing: -0.24px;
    text-align: center;
    color: #172b4d;
}

.user .user__text {
    margin: 16px 0 0;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #6b778c;
}

.user .auth-user__text-box {
  margin-top: 32px;
}

.user .auth-user__text-box .auth-user__text {
  margin: 0;
}

.user .auth-user__text {
    margin: 32px 0 0;
    font-size: 13px;
    line-height: 16px;
    font-weight: 600;
    text-align: center;
    color: #6b778c;
}

.user .auth-user__text + .auth-user__text {
  margin: 12px 0 0;
}

.user .auth-user__text a {
    margin-left: 4px;
    color: #345bd9;
}

.user .auth-sns-user {
    /* max-width: 250px; */
    width: 100%;
    margin: 0 auto;
}

.user .auth-sns-user .auth-sns-user-list {
    margin: 16px 0 0;
    padding: 0;
    list-style: none;
}

.user .auth-sns-user .auth-sns-user-list > li {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user .auth-sns-user .auth-sns-user-list > li + li {
    margin-top: 8px;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--email {
    position: relative;
    margin-top: 48px;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--email:before {
    content: 'or';
    position: absolute;
    top: -32px;
    left: 50%;
    margin-left: -6px;
    font-size: 13px;
    line-height: 16px;
    color: #6b778c;
}
.user .auth-sns-user .auth-sns-user-list > li:first-child.auth-sns-user__item--email {
    margin-top: 0;
}

.user .auth-sns-user .auth-sns-user-list > li:first-child.auth-sns-user__item--email:before {
    display: none;
}

.user .auth-sns-user .auth-sns-user-list > li a {
    display: block;
    padding: 13px 10px;
    border-radius: 3px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.21px;
    text-align: center;
    background-color: #ebecf0;
    color: #000;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--kakao a {
    background-color: rgb(250,225,0);
    color: #000;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--apple { position:relative; }
.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--apple a::before {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 48px;
    height: 48px;
    content: ' ';
    background-size: 51px;
    background-image: url("data:image/svg+xml,%3Csvg width='56' height='56' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath fill='%23000' d='M6 6h44v44H6z'/%3E%3Cpath d='M28.223 20.385c.832 0 1.875-.58 2.496-1.353.562-.7.972-1.68.972-2.658 0-.132-.011-.265-.035-.374-.926.036-2.039.64-2.707 1.45-.527.615-1.008 1.582-1.008 2.572 0 .145.024.29.036.338.058.013.152.025.246.025zM25.293 35c1.137 0 1.64-.785 3.059-.785 1.441 0 1.757.76 3.023.76 1.242 0 2.074-1.183 2.86-2.342.878-1.33 1.242-2.634 1.265-2.694-.082-.024-2.46-1.027-2.46-3.841 0-2.44 1.874-3.54 1.98-3.624-1.243-1.836-3.13-1.884-3.645-1.884-1.395 0-2.531.87-3.246.87-.774 0-1.793-.822-3-.822-2.297 0-4.629 1.957-4.629 5.653 0 2.295.867 4.723 1.934 6.293.914 1.329 1.71 2.416 2.859 2.416z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/g%3E%3C/svg%3E");
}
.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--apple a {
    background-color: #000;
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--facebook a {
    background-color: #4267b2;
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--naver a {
    background-color: #00c73c;
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--kakao a {
    background-color: rgb(250,225,0);
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--twitter a {
    background-color: #1da1f2;
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--google a {
    background-color: #5286ec;
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--github a {
    background-color: #353a3f;
    color: #fff;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--email a {
    background-color: #ebecf0;
    color: #000;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--kakao a:hover {
    background-color: rgb(250,225,0);
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--facebook a:hover {
    background-color: #354f84;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--kakao a:hover {
    background-color: rgb(250,225,0);
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--naver a:hover {
    background-color: #0cae3d;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--twitter a:hover {
    background-color: #0084d3;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--google a:hover {
    background-color: #3E6ECC;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--github a:hover {
    background-color: #1B1E22;
}

.user .auth-sns-user .auth-sns-user-list .auth-sns-user__item--email a:hover {
    background-color: #c1c7d0;
}

/* ---- //회원가입 개편 스타일, 소셜 로그인, 소셜 회원가입 동일하게 스타일 적용 ---- */

.user .auth-group .btn-eye {
    position: absolute;
    top: 0;
    right: 4px;
    width: 36px;
    height: 36px;
    padding: 0;
    color: #8e8e93;
    font-size: 19px;
    border-color: transparent;
    background-color: transparent;
}

.user .auth-group .btn-eye .xi-eye-off,
.user .auth-group .btn-eye.on .xi-eye {
    display: none;
}

.user .auth-group .btn-eye.on .xi-eye-off {
    display: block;
}

.user .auth-group.option {
    background-color: #f6f7f8;
    color: #2c2e37;
}

.info {
    margin-bottom: 16px;
    border-bottom: 1px solid #e4e4e4;
}

.info p {
    margin: 0 0 24px;
    color: #696e7a;
}

.info em,
.user .sub-text em {
    font-weight: 600;
    color: #2c2e37;
}

.info em.info-title {
    display: inline-block;
    margin-bottom: 8px;
}

/* -------- 소셜 로그인 로그인 영역 추가 스타일 ------- */

.user .user-login {
  margin-top: 24px;
}

.user .user-login .xu-form-group__input-box {
  width: 100%;
}

.user .user-login .xu-label-checkradio {
  margin-top: 16px;
}

.user .user-login .xu-form-group {
  margin-bottom: 0;
}

.user .user-login .xu-form-group + .xu-form-group {
  margin-top: 4px;
}

.user .user-login .user-login-link {
  font-weight: 600;
  color: #345bd9;
}

.user .user-login .user-login__button {
  clear: both;
  margin-top: 13px;
}

.user .user-text__extra {
  margin: 16px 0;
  font-size: 13px;
  line-height: 1.23;
  font-weight: 600;
  text-align: center;
  color: #6b778c;
}
